.idea
/Data/input_modules
/Code/Blue-scc
Figures
!Figures/Main

ExtendedData
Data/*
# Track inputs to RICE50x
!Data/SuppTables
!Data/output_modules_input_rice50x
Data/output_modules_input_rice50x/*
!Data/output_modules_input_rice50x/input_rice50x
!Data/SCC
Data/SCC/*
!Data/SCC/out
Data/SCC/out/*
!Data/SCC/out/ocean_data.parquet
/Data/other/all_data
*.RData
*.gpkg
**/__pycache__

# !/Figures/SCC/pawn.png
# !/Figures/SCC/rennert_et_al.pdf
# !/Figures/SCC/scc.pdf
# !/Figures/SCC/scc_breakdown_ssps.pdf
# !/Figures/SCC/scc_prstp.pdf

!/Data/SCC/out/scc.csv
!/Data/SCC/out/country_level_scc.csv
/Figures/all_figures/
/Figures/country_scc/