/Figures
.idea
/Data/input_modules
/Code/Blue-scc

Data/*
# Track inputs to RICE50x
!Data/output_modules_input_rice50x
Data/output_modules_input_rice50x/*
!Data/output_modules_input_rice50x/input_rice50x
!Data/SCC
Data/SCC/*
!Data/SCC/out
Data/SCC/out/*
!Data/SCC/out/ocean_data.parquet
/Data/other/all_data
*.RData
*.gpkg
**/__pycache__